# Лабораторна робота №1

## Тема: "Отримання навичок роботи в середовищi Python"

Виконав студент 3 курсу
групи КА-02
Шинкарьов О.О.

Перевірила Недашківська Н.І.

## Варіант 1

 ![title](./Screenshot_21.jpg)

In [27]:
#підключимо необхідні для роботи бібліотеки

import numpy as np
import pandas as pd

### Почнемо поступово виконувати роботу, склавши функції для розбиття датасету на множини за певними ознаками, для обчислення ентропії та для обчислення виразу G

In [28]:
'''
Функція cut_Ti приймає в якості аргументів масив Т, вектори y та x_h та повертає словник, де в якості ключів виступають
унікальні значення вектора x_h, а в якості значень множина, що складається з підмножин матриці Т та вектору у при значення x_h, 
що дорінює значенню ключа
'''

def cut_Ti(T, y, x_h):
    list_of_un_elements = T[x_h].unique()
    dict_of_groups = {}
    for i in list_of_un_elements:
        dict_of_groups[i] = (T[T[x_h] == i], y[T[x_h] == i])
    return dict_of_groups

In [29]:
#Функція entropy_H обчислює значення ентропії між масивом set_cond і вектором у

def entropy_H(set_cond, y):
    S = y.unique()
    abs_A = len(y)
    entropy = 0
    for s_i in S:
        k_i = len(set_cond[y == s_i])
        entropy -= (k_i/abs_A) * np.log2(k_i/abs_A)
    return entropy

In [30]:
#Функція equal_G обчислює значення шуканого виразу G

def equal_G(T, y, x_h):
    dictionary = cut_Ti(T, y, x_h)
    N = len(y)
    G = 0
    for key in dictionary:
        T_temp, y_temp = dictionary[key]
        G += (len(T_temp) / N) * entropy_H(T_temp, y_temp)
    return G

In [31]:
#Функція min_G повертає датафрейм, що містить ознаку з найменшим значенням G та її значення G

def min_G(T, y):
    d = {}
    for column in T.columns:
        d[column] = equal_G(T, y, column)
    df = pd.DataFrame.from_dict(d, orient='index', columns = ['g_value'])
    return df[df['g_value'] == min(df.g_value)]

### Перевіримо працездатність нашої програми. Бачимо, що в завданні сказано, що наша програма повинна бути адаптована для роботи з категоріальними даними. Тому знайдемо на Kaggle датасет, де більшість фічей мають тип категорії та запустимо на ньому нашу програму

###### Датасет used_cars_catalog https://www.kaggle.com/datasets/lepchenkov/usedcarscatalog

In [32]:
cars_data = pd.read_csv(r"C:\Users\shink\Downloads\cars.csv.zip", compression='zip')

In [33]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  object
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  feature_0          38531 non-null  bool
 20  feature_1          38531 non-null  bool
 21  feature_2          38531 non-null  bool
 22  feature_3          38531 non-null  bool
 23  feature_4          38531 non-null  bool
 24  feature_5          38531 non-null  bool
 25  feature_6          38531 non-null  bool
 26  feature_7          38531 non-null  bool
 27  feature_8          38531 non-null  bool
 28  feature_9          38531 non-null  bool
 29  duration_listed    38531 non-null  int64
dtypes: bool(13), float64(2), int64(5), object(10)
memory usage: 5.5+ MB

###### Залишемо тільки дані типу bool та object, в якості вектора y візьмемо is_exchangeable

In [34]:
cars_data_upd = cars_data.drop([
    'odometer_value', 'engine_capacity', 'price_usd', 'number_of_photos', 'up_counter'
], axis = 1)

In [35]:
cars_data_upd = cars_data_upd.astype('category')

In [36]:
y = cars_data_upd.is_exchangeable

In [37]:
cars_data_upd = cars_data_upd.drop(['is_exchangeable'], axis = 1)

In [38]:
cars_data_upd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  category
 1   model_name         38531 non-null  category
 2   transmission       38531 non-null  category
 3   color              38531 non-null  category
 4   year_produced      38531 non-null  category
 5   engine_fuel        38531 non-null  category
 6   engine_has_gas     38531 non-null  category
 7   engine_type        38531 non-null  category
 8   body_type          38531 non-null  category
 9   has_warranty       38531 non-null  category
 10  state              38531 non-null  category
 11  drivetrain         38531 non-null  category
 12  location_region    38531 non-null  category
 13  feature_0          38531 non-null  category
 14  feature_1          38531 non-null  category
 15  feature_2          38531 non-null  category
 16  feature_3          38531 non-null  category
 17  feature_4          38531 non-null  category
 18  feature_5          38531 non-null  category
 19  feature_6          38531 non-null  category
 20  feature_7          38531 non-null  category
 21  feature_8          38531 non-null  category
 22  feature_9          38531 non-null  category
 23  duration_listed    38531 non-null  category
dtypes: category(24)
memory usage: 1.0 MB

In [39]:
min_G(cars_data_upd, y)

             g_value
model_name  0.888416

### Бачимо, що наша програма справно працює. Візьмемо ще один датасет 

######  Bank marketing campaigns dataset | Opening Deposit

###### https://www.kaggle.com/datasets/volodymyrgavrysh/bank-marketing-campaigns-dataset

In [40]:
bank_data = pd.read_csv(r"C:\Users\shink\Downloads\bank-additional-full.csv.zip", compression='zip', delimiter=';')

In [41]:
bank_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [42]:
bank_data_upd = bank_data.drop([
    'age', 'duration', 'campaign', 'pdays', 'previous', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed'
], axis = 1)

In [43]:
bank_data_upd = bank_data_upd.astype('category')

In [44]:
y = bank_data_upd.y

In [45]:
bank_data_upd = bank_data_upd.drop(['y'], axis = 1)

In [46]:
bank_data_upd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   job          41188 non-null  category
 1   marital      41188 non-null  category
 2   education    41188 non-null  category
 3   default      41188 non-null  category
 4   housing      41188 non-null  category
 5   loan         41188 non-null  category
 6   contact      41188 non-null  category
 7   month        41188 non-null  category
 8   day_of_week  41188 non-null  category
 9   poutcome     41188 non-null  category
dtypes: category(10)
memory usage: 404.5 KB

In [47]:
min_G(bank_data_upd, y)

           g_value
poutcome  0.464036

# Висновок

В ході виконання лабораторної роботи №1 з теми "Отримання навичок роботи в середовищi Python" за допомогою функцій бібліотек numpy та pandas було проведено пошук атрибута з найменшим значенням виразу G в датасетах, що складаються з категоріальних даних. Висуваю припущення, що значення G це значення якоїсь метрики, яка характеризує якіть вирішення задачі класифікації, ураховуючи кроки зроблені в ході виконання роботи. 
Завдяки опрацюванню цієї лабораторної роботи я покращив свої навички роботи з вбудованими бібліотеками мови Python.